html, body {
  margin: 0;
  padding: 0 15px;
}

h1, h2, h3 {
  font-weight: 600;
}

ul {
  margin-left: 0;
  list-style: inside;
  list-style-type: circle;
}

ul li:not(:last-child) {
  margin-bottom: 10px;
}

article {
  border: none;
}