:root {
  --color-default: #1f3470;
  --color-primary: #5172cf;
  --color-tertiary: grey;
  --color-bg: #fbfbfb;
}

html, body {
  margin: 0;
}

body {
  position: relative;
  background-color: var(--color-bg);
  color: var(--color-default);
}

body::after {
  content: '';
  position: absolute;
  bottom: 2vh;
  right: 0;
  width: 100vw;
  height: 100%;
  opacity: 0.2;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='360' preserveAspectRatio='none' viewBox='0 0 1440 360'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1038%26quot%3b)' fill='none'%3e%3cpath d='M -47.398109710771735%2c191 C 48.6%2c178 240.6%2c108.8 432.60189028922827%2c126 C 624.6%2c143.2 720.6%2c282.4 912.6018902892283%2c277 C 1104.6%2c271.6 1200.6%2c93.6 1392.6018902892283%2c99 C 1584.6%2c104.4 1863.12%2c292.6 1872.6018902892283%2c304 C 1882.08%2c315.4 1526.52%2c185.6 1440%2c156' stroke='rgba(122%2c 122%2c 122%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -191.9102853036337%2c280 C -95.91%2c256.8 96.09%2c173.2 288.0897146963663%2c164 C 480.09%2c154.8 576.09%2c246.8 768.0897146963663%2c234 C 960.09%2c221.2 1056.09%2c108.2 1248.0897146963662%2c100 C 1440.09%2c91.8 1689.71%2c189.6 1728.0897146963662%2c193 C 1766.47%2c196.4 1497.62%2c132.2 1440%2c117' stroke='rgba(122%2c 122%2c 122%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -851.6383122526047%2c117 C -755.64%2c157.8 -563.64%2c331.2 -371.63831225260463%2c321 C -179.64%2c310.8 -83.64%2c67.8 108.36168774739537%2c66 C 300.36%2c64.2 396.36%2c296.4 588.3616877473953%2c312 C 780.36%2c327.6 898.03%2c143.4 1068.3616877473953%2c144 C 1238.69%2c144.6 1365.67%2c280.8 1440%2c315' stroke='rgba(122%2c 122%2c 122%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1038'%3e%3crect width='1440' height='360' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  z-index: -1;
}

h1, h2, h3 {
  font-weight: 600;
  color: var(--color-default)
}

a {
  color: var(--color-primary)
}

ul {
  margin-left: 0;
  list-style: inside;
  list-style-type: circle;
}

ul li:not(:last-child) {
  margin-bottom: 10px;
}

article {
  border: none;
  background: none;
}

article img {
  border: 1px solid var(--color-default);
}

pre {
  background-color: var(--color-default);
  border-radius: 5px;
  padding: 18px;
}

pre code {
  color: var(--color-bg);
}

code:not(pre > code) {
  background-color: var(--color-default);
  color: var(--color-bg)
}

.row {
  display: flex;
  align-items: center;
}

.icon {
  display: inline-flex;
}

.icon-left {
  margin-right: 5px;
}